<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="928d86">  <td>19/10/21 14:36:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Branch_DELETE.init()[pri:0, instance:writers.Branch_DELETE@56aac163]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@917819120</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>19/10/21 14:36:36</td>   <td>938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Branch_DELETE.DeleteBranch()[pri:0, instance:writers.Branch_DELETE@56aac163]">DeleteBranch</td> 
  <td>main@917819120</td>   <td></td> </tr>
</table>
