<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="928d86">  <td>19/09/27 16:24:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;E2E_Employee.setUp()[pri:0, instance:writers_E2E.E2E_Employee@66d18979]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>19/09/27 16:24:05</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;E2E_Quotes.setUp()[pri:0, instance:writers_E2E.E2E_Quotes@bccb269]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>19/09/27 16:24:05</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E_Employee.AddEmployee()[pri:1, instance:writers_E2E.E2E_Employee@66d18979]">AddEmployee</td> 
  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>19/09/27 16:24:07</td>   <td>2445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E_Employee.UpdateEmployee()[pri:2, instance:writers_E2E.E2E_Employee@66d18979]">UpdateEmployee</td> 
  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>19/09/27 16:24:07</td>   <td>2628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E_Employee.DeleteEmployee()[pri:3, instance:writers_E2E.E2E_Employee@66d18979]">DeleteEmployee</td> 
  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>19/09/27 16:24:07</td>   <td>2796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E_Quotes.AddQuote()[pri:1, instance:writers_E2E.E2E_Quotes@bccb269]">AddQuote</td> 
  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>19/09/27 16:24:08</td>   <td>3000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E_Quotes.UpdateQuote()[pri:2, instance:writers_E2E.E2E_Quotes@bccb269]">UpdateQuote</td> 
  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>19/09/27 16:24:08</td>   <td>3128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E_Quotes.DeleteQuote()[pri:3, instance:writers_E2E.E2E_Quotes@bccb269]">DeleteQuote</td> 
  <td>main@1878169648</td>   <td></td> </tr>
</table>
